.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #575C75;
  color: #272B2B;
  padding: 10px 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.left {
  flex: 1;
}

.left-text {
    color: #E0E0E0;
}

.right {
  display: flex;
  gap: 20px;
}

.right a {
    text-decoration: none;
}

.right-logo {
    color: black;
    width: 40px;
    height: 40px;
}

#fiverr {
    width: 65px;
    height: 35px;
    padding-top: 2.5px;
}

#youtube {
     height: 30px;
     padding-top: 5px;
     padding-left: 22.5px;
}

#twitter {
    padding-left: 22.5px;
}

.right-logo {
  color: #fff;
  transition: color 0.3s ease;
}

.right-logo:hover {
  color: #ff9900;

}
