
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outsource-section {
    height: 100px;
    min-height: 50px;
    width: 90%;
    background-color: #735f60;
    border-radius: 900px;
    margin: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outsource-section__text {
    font-family: "Monsterrat";
    margin-left: 40px;
}